@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.controls-container {
  position: fixed;
  bottom: -4rem;
  left: 2rem;
  width: calc(100% - 10rem);
  z-index: 2;
  display: flex;
  gap: 0.5rem;

  button,
  label {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--beige);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-dark-stroke {
      fill: none;
      stroke: var(--shadow-grey);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &.multiple-btn {
      background-color: var(--apricot-cream);
    }

    &:hover {
      transform: scale(0.95);
      background-color: vars.$cool-steel;

      .icon-dark-stroke {
        stroke: #fff;
      }

      .icon-dark-fill {
        fill: #fff;
      }
    }

    &:active {
      transform: scale(0.85);
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    @include mixins.resize(800) {
      width: 3rem;
      height: 3rem;

      .icon-dark-stroke {
        stroke-width: 1.5;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    @include mixins.resize(600) {
      width: 2.5rem;
      height: 2.5rem;

      .icon-dark-stroke {
        stroke-width: 1.25;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  button {
    &:focus {
      outline: none;
    }
  }

  #prev-month,
  #next-month {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 20rem;
    width: 10rem;
    background-color: var(--apricot-cream);

    &:hover {
      background-color: var(--cool-steel);
    }

    svg {
      position: fixed;
    }
  }

  #prev-month {
    left: 0rem;

    svg {
      right: 0.25rem;
    }
  }

  #next-month {
    right: 0rem;

    svg {
      left: 0.25rem;
    }
  }

  @include mixins.resize(600) {
    gap: 0.25rem;
    left: 1rem;
    width: calc(100% - 6rem);
  }
}
