@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.controls-container {
  position: fixed;
  bottom: -4rem;
  left: 2rem;
  width: calc(100% - 12rem);
  z-index: 2;
  display: flex;
  gap: 0.5rem;

  &.hide {
    visibility: hidden;
  }

  button,
  label {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--beige);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(0.95);
      background-color: vars.$cool-steel;
    }

    &:hover .icon-dark-stroke {
      stroke: #fff;
    }

    &:hover .icon-dark-fill {
      fill: #fff;
    }

    &:active {
      transform: scale(0.85);
    }

    .icon-dark-stroke {
      fill: none;
      stroke: #272727;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  button {
    &:focus {
      outline: none;
    }
  }

  @include mixins.resize(800) {
    width: calc(100% - 6rem);
    button,
    label {
      width: 3rem;
      height: 3rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
