.crop-controls-container {
  position: fixed;
  bottom: -4rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  gap: 0.5rem;
  width: 10rem;

  button {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--cool-steel);
    border: none;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(0.95);
      background-color: var(--apricot-cream);

      .icon-light-stroke {
        stroke: var(--shadow-grey);
      }
    }

    &:active {
      transform: scale(0.85);
    }

    .icon-light-stroke {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
