@use '../abstracts/mixins' as mixins;

.crop-controls-container {
  position: fixed;
  bottom: -4rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  gap: 0.5rem;
  width: 10rem;

  button {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--cool-steel);
    border: none;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(0.95);
      background-color: var(--apricot-cream);

      .icon-light-stroke {
        stroke: var(--shadow-grey);
      }
    }

    &:active {
      transform: scale(0.85);
    }

    .icon-light-stroke {
      fill: none;
      stroke: var(--text-light);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    @include mixins.resize(800) {
      width: 3rem;
      height: 3rem;

      .icon-dark-stroke {
        stroke-width: 1.5;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    @include mixins.resize(600) {
      width: 2.5rem;
      height: 2.5rem;

      .icon-dark-stroke {
        stroke-width: 1.25;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}
