@use '../abstracts/mixins' as mixins;

.dropdown {
  position: relative;
  width: 100%;
  user-select: none;

  &__caption {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.75;

    @include mixins.resize(600) {
      font-size: 0.75rem;
    }
  }

  &__trigger {
    margin-top: 0.5rem;
    height: 3.5rem;
    width: 400px;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem;

    border: 2px solid var(--sandy-clay);
    border-radius: 1rem;

    background: var(--shadow-grey);
    color: var(--text-light);

    cursor: pointer;

    transition: border-color 0.2s;

    &:hover {
      border-color: var(--cool-steel);
    }

    @include mixins.resize(600) {
      height: 2.5rem;
      width: 300px;
      font-size: 1rem;
    }
  }

  &__value {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__arrow {
    margin-left: 1rem;
    transition: transform 0.25s;

    @include mixins.resize(600) {
      margin-left: 0.5rem;
    }
  }

  &--open &__arrow {
    transform: rotate(180deg);
  }

  &__menu {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 0.35rem);

    padding: 0.35rem;
    border: 2px solid var(--sandy-clay);
    border-radius: 1rem;
    background: var(--shadow-grey);

    opacity: 0;
    visibility: hidden;

    transform: translateY(-8px);

    transition:
      opacity 0.2s,
      transform 0.2s,
      visibility 0s 0.2s;

    z-index: 10;

    max-height: 250px;
    overflow-y: auto;

    scrollbar-width: none;
  }

  &--open &__menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    transition:
      opacity 0.2s,
      transform 0.2s;
  }

  &__item {
    padding: 0.5rem;
    border-radius: 0.5rem;

    cursor: pointer;

    transition: background 0.15s;
  }

  &__item:hover {
    background: var(--sandy-clay);
  }

  &__item--selected {
    background: var(--cool-steel);
  }
}
