@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar-container {
    width: 90vw;
    margin: 12px auto;
    max-width: 95%;
}

#days-grid text {
    text-anchor: middle;
    dominant-baseline: middle;
}