$element-shadow-blur: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.98))
  drop-shadow(6px 18px 12px rgba(0, 0, 0, 0.45));
$element-shadow-focus: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.98));
$light-primary: #fffcf0;
$gray-dark: #231f20;
$primary: #ff0073;

$shadow-grey: #272727;
$sandy-clay: #d4aa7d;
$apricot-cream: #efd09e;
$beige: #d2d8b3;
$cool-steel: #90a9b7;

$text-light: #fffcf0;
