// Abstracts

@use './abstracts/variables' as vars;
@use './abstracts/mixins' as mixins;

// Components

@use './components/new_project_overlay';
@use './components/dropdown';
@use './components/loader';
@use './components/calendar-container';
@use './components/controls-container';
@use './components/crop-controls-container';

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  touch-action: pan-x pan-y;
  height: 100%;

  --shadow-grey: #{vars.$shadow-grey};
  --sandy-clay: #{vars.$sandy-clay};
  --apricot-cream: #{vars.$apricot-cream};
  --beige: #{vars.$beige};
  --cool-steel: #{vars.$cool-steel};
  --text-light: #{vars.$text-light};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

// @media (max-width: 768px) {
//   .controls-container button,
//   .controls-container label {
//     font-size: 0.5rem;
//     padding: 0.25rem;
//     margin: 0 0.1rem;
//     font-family: inherit;
//     font-weight: inherit;
//     background-color: white;
//     cursor: pointer;
//   }

//   .controls-container select {
//     font-family: inherit;
//     font-weight: inherit;
//     font-size: 0.8rem;
//     padding: 0.15rem;
//     cursor: pointer;
//   }

//   .controls-container button svg,
//   .controls-container label svg {
//     width: 30px;
//     height: 30px;
//   }
// }

/* Cropper styles */
.cropper-view-box {
  outline: 3px solid #fff;
  outline-color: vars.$gray-dark;
}

.cropper-dashed {
  border: 0 dashed vars.$gray-dark;
  filter: invert(1);
}

.cropper-center::before,
.cropper-center::after {
  background-color: vars.$gray-dark;
  filter: invert(1);
}

.cropper-face {
  background-color: vars.$gray-dark;
  opacity: 0;
}

.cropper-line {
  background-color: vars.$gray-dark;
  filter: invert(1);
}

.cropper-point {
  background-color: vars.$gray-dark;
  filter: invert(1);
}

@media (min-width: 1200px) {
  .cropper-point.point-se::before {
    background-color: vars.$gray-dark;
  }
}

// @media (max-width: 500px) {
//   .controls-container button svg,
//   .controls-container label svg {
//     width: 22px;
//     height: 22px;
//   }
// }
