// Abstracts

@use './abstracts/variables' as vars;
@use './abstracts/mixins' as mixins;

// Components

@use './components/new_project_overlay';
@use './components/dropdown';
@use './components/loader';
@use './components/calendar-container';
@use './components/controls-container';
@use './components/crop-controls-container';

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  touch-action: pan-x pan-y;
  height: 100%;

  --shadow-grey: #{vars.$shadow-grey};
  --sandy-clay: #{vars.$sandy-clay};
  --apricot-cream: #{vars.$apricot-cream};
  --beige: #{vars.$beige};
  --cool-steel: #{vars.$cool-steel};
  --text-light: #{vars.$text-light};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Cropper styles */
.cropper-view-box {
  outline: 3px solid #fff;
  outline-color: var(--shadow-grey);
}

.cropper-dashed {
  border: 0 dashed var(--shadow-grey);
  filter: invert(1);
}

.cropper-center::before,
.cropper-center::after {
  background-color: var(--shadow-grey);
  filter: invert(1);
}

.cropper-face {
  background-color: var(--shadow-grey);
  opacity: 0;
}

.cropper-line {
  background-color: var(--shadow-grey);
  filter: invert(1);
}

.cropper-point {
  background-color: var(--shadow-grey);
  filter: invert(1);
}

@media (min-width: 1200px) {
  .cropper-point.point-se::before {
    background-color: var(--shadow-grey);
  }
}
