@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  touch-action: pan-x pan-y;
  height: 100%;
  --dark: #231f20;
  --primary: #ff0073;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.new-project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #231f20;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 0.2s ease;
}

.new-project-container button {
  font-size: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.new-project-container button:hover {
  transform: scale(0.95);
}

.new-project-container button:active {
  transform: scale(0.85);
}

.new-calendar-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #231f20;
  position: fixed;
  top: 0;
  z-index: 2;
}

.new-calendar-controls .mode-radio {
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-right: 1rem;
  padding: 0.1rem;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.new-calendar-controls .mode-radio div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-calendar-controls .mode-radio label {
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  cursor: pointer;
}

.new-calendar-controls select {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  margin-right: 1rem;
  cursor: pointer;
}

.new-calendar-controls select option {
  font-family: inherit;
  font-weight: inherit;
}

.new-calendar-controls button {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
}

.new-calendar-controls button:focus {
  outline: none;
}

.new-calendar-controls button:hover {
  transform: scale(0.95);
}

.new-calendar-controls button:active {
  transform: scale(0.85);
}

.calendar-container {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 120px);
}

.calendar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.calendar-inner {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  transition: all 0.1s ease-in;
}

.month-container,
#mockup-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

svg {
  height: 100%;
  filter: drop-shadow(3px 3px 12px rgba(0, 0, 0, 0.33));
}

svg>svg {
  filter: initial;
}

.loading-screen {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 120px);
  left: 0;
  background-color: #fff;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loading-screen svg {
  filter: initial;
}

.loading-screen.hide {
  display: none;
}

.cropper-outer-container {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.image-element {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.controls-container {
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 2;
  background-color: #231f20;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-container button,
.controls-container label {
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  background-color: white;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.controls-container button svg,
.controls-container label svg {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}

.controls-container button:hover,
.controls-container label:hover {
  transform: scale(0.95);
  background-color: var(--primary);
}

.controls-container button:active,
.controls-container label:active {
  transform: scale(0.85);
}

.controls-container button:focus {
  outline: none;
}

.controls-container select {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  height: 40px;
  padding: 0.2rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.controls-container select option {
  font-family: inherit;
  font-weight: inherit;
}

.crop-controls-container {
  position: fixed;
  bottom: calc(60px + 1.5rem);
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5.5rem;
}

.crop-controls-container button {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(3px 3px 12px rgba(0, 0, 0, 0.33));
  background-color: #fff;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.crop-controls-container button:hover {
  transform: scale(0.95);
}

.crop-controls-container button:active {
  transform: scale(0.85);
}

.crop-controls-container svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* .crop-controls-container.hide {
  visibility: hidden;
} */

@media (max-width: 768px) {
  .new-project-container button {
    font-size: 0.75rem;
  }

  .new-calendar-controls .mode-radio {
    font-size: 0.75rem;
    justify-content: center;
  }

  .new-calendar-controls select {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .new-calendar-controls button {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .controls-container button,
  .controls-container label {
    font-size: 0.5rem;
    padding: 0.25rem;
    margin: 0 0.1rem;
    font-family: inherit;
    font-weight: inherit;
    background-color: white;
    cursor: pointer;
  }

  .controls-container select {
    font-family: inherit;
    font-weight: inherit;
    font-size: 0.8rem;
    padding: 0.15rem;
    cursor: pointer;
  }

  .controls-container button svg,
  .controls-container label svg {
    width: 30px;
    height: 30px;
  }
}

/* Cropper styles */
.cropper-view-box {
  outline: 3px solid #fff;
  outline-color: #231f20;
}

.cropper-dashed {
  border: 0 dashed #231f20;
}

.cropper-center::before,
.cropper-center::after {
  background-color: #231f20;
}

.cropper-face {
  background-color: #231f20;
  opacity: 0;
}

.cropper-line {
  background-color: #231f20;
}

.cropper-point {
  background-color: #231f20;
}

@media (min-width: 1200px) {
  .cropper-point.point-se::before {
    background-color: #231f20;
  }
}